body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #222;
}

header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 40px;
}

main {
    width: 80%;
    margin: 30px auto;
}

section {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.8)
}

h2 {
    color: #1f2937;
}

section:hover {
    transform: scale(1.02);
    transition: 0.2s;
}

.button {
    display: inline-block;
    background-color: #1f2937;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.button:hover {
    background-color: #374151;
}

footer {
    text-align: center;
    padding: 20px;
    color: #555;
}

.hero {
    background: linear-gradient(135deg, #06142e, #0b3fb3);
    color: white;
    padding: 25px 60px 90px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.logo {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content h2 {
    font-size: 20px;
    color: #dbeafe;
}

.hero-buttons {
    margin-top: 30px;
}

.hero-buttons a {
    display: inline-block;
    background-color: #2563eb;
    color: white;
    padding: 12px 28px;
    margin: 8px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.hero-buttons a:hover {
    background-color: #1d4ed8;
}